.modal_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content {
    width: 50%;
    max-width: 600px;
    min-width: 340px;
    margin-left: 320px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: margin-left 0.2s ease-in-out;
}

@media screen and (max-width: 750px) {
    .modal_content {
        margin-left: 0;
    }
}